body {
  margin: 0;
}

h1 {
  margin-top: 0px;
}

.top-container {
  background-color: cornflowerblue;
  height: 200px;
  width: 200px;
  /* border: solid 10px;
  padding: 20px; */
}

.mid-container {
  background-color: blueviolet;
  height: 200px;
  width: 200px;
  /* border: solid 20px;
  margin-left: 260px; */
}

.bottom-container {
  background-color: darkolivegreen;
  height: 200px;
  width: 200px;
  /* border: solid 10px;
  margin-left: 500px; */
}
