body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: "Sacramento", cursive;
  font-size: 5.625rem;
  color: #66bfbf;
  /* line-height: 2; */
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.3rem;
  font-weight: normal;
  color: #66bfbf;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #eaf6f6;
  border-width: 8px;
  width: 5%;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #11999e;
  font-weight: bold;
}

a {
  color: #11999e;
}

.top-container {
  background-color: #eaf6f6;
  position: relative;
  padding-top: 100px;
}

.bottom-container {
  background-color: #66bfbf;
}

.copyright {
  color: #eaf6f6;
}

.profile {
  margin: 75px auto;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.profile-picture {
  width: 300px;
}

.instructor-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.beer-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}
